<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @zaiko.stock_id %>
</p>

<p>
  <strong>Goocar:</strong>
  <%= @zaiko.goocar_id %>
</p>

<p>
  <strong>Owner cd:</strong>
  <%= @zaiko.owner_cd %>
</p>

<p>
  <strong>N p country nm n:</strong>
  <%= @zaiko.n_p_country_nm_n %>
</p>

<p>
  <strong>N country cd:</strong>
  <%= @zaiko.n_country_cd %>
</p>

<p>
  <strong>Brand nm:</strong>
  <%= @zaiko.brand_nm %>
</p>

<p>
  <strong>N maker cd:</strong>
  <%= @zaiko.n_maker_cd %>
</p>

<p>
  <strong>N p brand nm n:</strong>
  <%= @zaiko.n_p_brand_nm_n %>
</p>

<p>
  <strong>N brand cd:</strong>
  <%= @zaiko.n_brand_cd %>
</p>

<p>
  <strong>N p car nm n:</strong>
  <%= @zaiko.n_p_car_nm_n %>
</p>

<p>
  <strong>N car cd:</strong>
  <%= @zaiko.n_car_cd %>
</p>

<p>
  <strong>N p grade nm n:</strong>
  <%= @zaiko.n_p_grade_nm_n %>
</p>

<%= link_to 'Back', zaikos_path %>
