<p id="notice"><%= notice %></p>

<p>
  <strong>Owner cd:</strong>
  <%= @shop.owner_cd %>
</p>

<p>
  <strong>Owner nm:</strong>
  <%= @shop.owner_nm %>
</p>

<p>
  <strong>Yubin:</strong>
  <%= @shop.yubin %>
</p>

<p>
  <strong>Owner addr1:</strong>
  <%= @shop.owner_addr1 %>
</p>

<p>
  <strong>Owner addr2:</strong>
  <%= @shop.owner_addr2 %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @shop.tel %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @shop.phone_no %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @shop.fax %>
</p>

<p>
  <strong>Shop memo:</strong>
  <%= @shop.shop_memo %>
</p>

<p>
  <strong>Main img:</strong>
  <%= @shop.main_img %>
</p>

<p>
  <strong>Detail img 1:</strong>
  <%= @shop.detail_img_1 %>
</p>

<p>
  <strong>Detail img 2:</strong>
  <%= @shop.detail_img_2 %>
</p>

<p>
  <strong>Detail img 3:</strong>
  <%= @shop.detail_img_3 %>
</p>

<p>
  <strong>Detail img 4:</strong>
  <%= @shop.detail_img_4 %>
</p>

<p>
  <strong>Detail text 1:</strong>
  <%= @shop.detail_text_1 %>
</p>

<p>
  <strong>Detail text 2:</strong>
  <%= @shop.detail_text_2 %>
</p>

<p>
  <strong>Detail text 3:</strong>
  <%= @shop.detail_text_3 %>
</p>

<p>
  <strong>Detail text 4:</strong>
  <%= @shop.detail_text_4 %>
</p>

<p>
  <strong>Shop b hour:</strong>
  <%= @shop.shop_b_hour %>
</p>

<p>
  <strong>Shop reg hol:</strong>
  <%= @shop.shop_reg_hol %>
</p>

<p>
  <strong>Geo:</strong>
  <%= @shop.geo %>
</p>

<p>
  <strong>Geo:</strong>
  <%= @shop.geo %>
</p>

<p>
  <strong>Ido:</strong>
  <%= @shop.ido %>
</p>

<p>
  <strong>Keido:</strong>
  <%= @shop.keido %>
</p>

<%= link_to 'Back', shops_path %>
